<p id="notice"><%= notice %></p>

<div class="row">
	<header class="six columns centered">
		<h1><%= @checklist.name %></h1>
	</header>
</div>

<div class="row">
	<div class="six columns centered">
		<ul>
		<% @items.each do |item| %>
			<li>
			<%= item.content %>     
			<%= link_to '[Del]', [@checklist, item], :method => :delete %>
			</li>
		<% end %>
		</ul>
		<%= form_for([@checklist, @checklist.items.build]) do |f| %>
			<div class="field">
				<%= f.text_field :content, :rows => 1, :autofocus => true %>
			</div>
			<div class="actions">
				<%= f.submit :class => 'button' %>
			</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="six columns centered">
		<%= link_to 'Back to Checklists', checklists_path %> | 
		<%= link_to 'Edit Title', edit_checklist_path(@checklist) %>
	</div>
</div>
