<p id="notice"><%= notice %></p>

<h1><%= @checklist.name %></h1>
<p>
</p>
<ol>
<% @items.each do |item| %>
	<li>
<%= item.content %>
	</li>
<% end %>

<li>
<%= form_for([@checklist, @checklist.items.build]) do |f| %>
	<div class="field">
		<%= f.text_field :content, :rows => 1, :autofocus => true %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
</li>
</ol>
<%= link_to 'Back to Checklists', checklists_path %> | 
<%= link_to 'Edit Title', edit_checklist_path(@checklist) %>
