<p id="notice"><%= notice %></p>

<h1>
<%= @checklist.name %>
<%= link_to 'Edit', edit_checklist_path(@checklist) %>
</h1>
<ol>
<% @checklist.items.each do |item| %>
	<li><%= item.content %>
	</li>
<% end %>
</ol>
<h2>Add an item...</h2>
<%= form_for([@checklist, @checklist.items.build]) do |f| %>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back to Checklists', checklists_path %> |
